BasedOnStyle: Google
Language: Cpp
ColumnLimit: 100
IndentWidth: 2
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false

AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
TabWidth: 2
UseTab: Never

# BreakBeforeBinaryOperators: NonAssignment
# BreakConstructorInitializers: BeforeComma
# PenaltyBreakBeforeFirstCallParameter: 0
# PenaltyBreakMethodCall: 0
# PenaltyReturnTypeOnItsOwnLine: 0
# ContinuationIndentWidth: 2